.section1 {
    margin-top: 55px;
    background-color: #1ABC9C;
    padding: 30px;
}

.container2 {
    background-color: #1ABC9C;
    color: white;
}

.section {
    color: white;
}

.section-p {
    color: white;
    font-size: small;
}

.img-section {
    width: 200px;
}

.star {
    color: white;
}


.bl_card {
    border-radius: 2rem;
    overflow: hidden;
}

.line {
    height: 3px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
}

.line2 {
    height: 3px;
    width: 50px;
    background-color: black;
    border-radius: 5px;
}