.section1 {
    margin-top: 55px;
    background-color: #1ABC9C;
    padding: 30px;
}

.container2 {
    background-color: #1ABC9C;
    color: white;
}

.section {
    color: white;
}

.section-p {
    color: white;
    font-size: small;
}

.img-section {
    width: 200px;
}

.star {
    color: white;
}


.bl_card {
    border-radius: 2rem;
    overflow: hidden;
}

.line {
    height: 3px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
}

.line2 {
    height: 3px;
    width: 50px;
    background-color: black;
    border-radius: 5px;
}

.color {
    color: white;
}

.border {
    border: 1px solid white;
    border-radius: 100px;
}

.green {
    background-color: #1ABC9C;
    border: 1px solid #1ABC9C;
}

.link-footer {
    color: #1ABC9C;
}

.border-tabel {
    border-left: none;
    border-top: none;
    border-right: none;
}